<style>
  .footer {
    margin-top: var(--footer-margin-top);
    padding: var(--footer-padding);
    color: var(--footer-color);
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .footer a {
    font-size: var(--footer-icon-font-size);
  }
</style>
<footer></footer>
<script>
  setTimeout(renderFooter);
  function renderFooter() {
    const footer = document.querySelector('footer');
    footer.innerHTML = /*html*/ `
      <div class="footer">
        <p>© 2020 devknowledge.github.io</p>
        <a href="https://github.com/devknowledge/devknowledge.github.io" target="_blank"
          ><span class="iconify" data-icon="codicon:github-inverted" data-inline="false"></span
        ></a>
      </div>
    `;
  }
</script>
