@import 'mixin';

:root {
  --transition: all 0.15s ease-in-out;
  --navbar-height: 6.5rem;
  --code-padding-top: 0.8rem;
  --code-padding-bottom: 0.8rem;
  --code-line-height: 1.45;
  --code-font-size: 1.6rem;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--body-color);
  background-color: var(--body-background-color);
  transition: var(--transition);
  transition-property: color, background-color;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

main {
  @include site-width;
  padding-top: var(--navbar-height);
}

a {
  text-decoration: none;
}

code {
  font-family: 'Roboto Mono', monospace !important;
}

.bold {
  font-weight: bold;
}

.user-action {
  cursor: pointer;
}

.iconify {
  color: var(--icon-color);
  transition: var(--transition);
  transition-property: color;
}

.primary-color {
  color: var(--primary-color);
}
