@import 'mixin';

.post {
  margin: var(--post-margin);
  box-shadow: var(--box-shadow-01);
  max-width: var(--post-max-width);
  background-color: var(--post-background-color);
  transition: var(--transition);
  transition-property: background-color, box-shadow;
  padding: var(--post-padding);
  min-width: 0;

  & .post__overview::after {
    content: '';
    display: block;
    height: 0.3rem;
    background: var(--post-title-border-color);
    margin: 2rem 0 4rem;
  }

  & .post__title {
    color: var(--post-title-color);
    transition: var(--transition);
    transition-property: color;
    font-size: var(--post-title-font-size);
    font-weight: 100;
    line-height: 1;
    border: none;

    &::first-line {
      font-weight: 500;
    }
  }

  & .post__additional-info {
    margin-top: var(--post-additional-info-margin-top);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .post__date time {
    color: var(--post-date-color);
    transition: var(--transition);
    transition-property: color;
    font-size: 1.4rem;
  }

  & h2 {
    margin: 5rem 0;
    line-height: 1.25;
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--border-color);
    transition: var(--transition);
    transition-property: border-color;
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.related-posts {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  @include hide-scroll-bar;

  & .post-summary {
    flex: 0 0 30rem;
    margin: 1rem 1.5rem 1rem 0.6rem;
  }

  & .post-summary .post-summary__top-section {
    height: 15rem;
  }

  & .post-summary .post-summary__bottom-section {
    padding: 2rem;
    height: calc(100% - 15rem);
  }
}
