@import 'mixin';

.welcome-message {
  display: flex;
  flex-direction: column;
  margin: var(--welcome-message-margin-top) auto 0;

  & .first-message {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    // font-family: cursive;
    display: flex;
    align-items: center;

    &,
    & .site-name {
      font-size: var(--site-name-font-size);
    }

    & .site-name {
      padding-left: 0.9rem;
      color: var(--primary-color);
      font-weight: bold;
    }

    & img {
      width: 3rem;
      height: 3rem;
      margin: 0 0.8rem;
    }
  }

  & .second-message {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.75rem;
    // font-family: cursive;
  }
}
