<style>
  {% include post-search-input/post-search-input.css %}
</style>

<div class="search-wrapper">
  <span class="iconify" data-icon="ic:outline-search" data-inline="false"></span>
  <input id="SearchPostInput" type="text" placeholder="Search..." />
  <span id="CloseAdvancedSearchIcon" class="hide"
    ><span class="iconify pointer" data-icon="eva:arrow-ios-upward-outline" data-inline="false"></span
  ></span>
  <span id="OpenAdvancedSearchIcon"><span class="iconify pointer" data-icon="eva:arrow-ios-downward-outline" data-inline="false"></span></span>
  <div id="AdvancedSearchInputsWrapper" class="advanced-search-inputs-wrapper hide">
    <div class="section-title-wrapper">
      <p class="section-title">Selected categories</p>
      <span id="UnselectAllCategoriesIcon" class="iconify-wrapper"
        ><span class="iconify pointer" title="unselect all categories" data-icon="gg:remove-r" data-inline="false"></span
      ></span>
      <span id="SelectAllCategoriesIcon" class="hide iconify-wrapper">
        <span class="iconify pointer" title="select all categories" data-icon="feather:plus-square" data-inline="false"></span
      ></span>
    </div>
    {% for category in categories %}
    <span class="category">{{ category }}</span>
    {% endfor %}
  </div>
</div>

<script>
  {% include post-search-input/post-search-input.js %}
</script>
