<style>
  .tab-content div.highlight {
    --code-border-top-left-radius: 0;
    --code-border-top-right-radius: 0;
  }

  div.highlight {
    margin-bottom: 1.6rem;
    border-top-left-radius: var(--code-border-top-left-radius, var(--border-radius));
    border-top-right-radius: var(--code-border-top-right-radius, var(--border-radius));
    border-bottom-left-radius: var(--code-border-bottom-left-radius, var(--border-radius));
    border-bottom-right-radius: var(--code-border-bottom-right-radius, var(--border-radius));
    overflow: hidden;
  }

  pre.highlight {
    display: flex;
    position: relative;
    margin-bottom: 0;
  }

  pre.highlight code {
    font-family: 'Roboto Mono', monospace;
    padding: var(--code-padding-top) 2rem var(--code-padding-bottom);
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
    background-color: var(--post-code-background-color);
    transition: var(--transition);
    transition-property: background-color, box-shadow;
    overflow: auto;
    flex: 1;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  pre.highlight code::-webkit-scrollbar {
    display: none;
  }

  pre.highlight code.scroll-left {
    box-shadow: var(--code-shadow-on-scroll-left);
  }

  pre.highlight .code-line-number {
    font-family: 'Roboto Mono', monospace;
    padding: var(--code-padding-top) 1rem var(--code-padding-bottom);
    width: 5.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--code-line-number-background-color);
    transition: var(--transition);
    transition-property: background-color;
    text-align: end;
    font-size: var(--code-font-size);
    line-height: var(--code-line-height);
  }
  pre.highlight .code-line-number span {
    color: var(--code-line-number-color);
    transition: var(--transition);
    transition-property: color;
  }

  pre.highlight .code-copy-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 10;
    font-size: 2rem;
    cursor: pointer;
    color: var(--code-copy-icon-color);
    transition: var(--transition);
    transition-property: color;
  }
  pre.highlight .code-copy-icon:hover {
    color: var(--code-copy-icon-color-on-hover);
  }
</style>

<script>
  formatCodeTabs();
  addCodeLineNumbers();
  addCodeCopyIcon();
  addCodeShadowOnLeftScroll();

  function formatCodeTabs() {
    document.querySelectorAll('.code-tabs + ul').forEach((codeTabs) => {
      try {
        const tabsContentsId = 'tas-contents-id-' + Date.now() + Math.floor(Math.random() * 100);
        let tabsLinks = '<div class="tab-links">';
        let tabsContents = `<div>`;
        codeTabs.querySelectorAll('li').forEach((codeTab) => {
          const tabName = codeTab.querySelector('p').textContent;
          const tabId = tabName + '-' + tabsContentsId;
          const tabContent = codeTab.querySelector('div').innerHTML;
          tabsLinks += `<button class="tab-link" onclick="openCode(event, '${tabId}', '${tabsContentsId}')">${tabName}</button>`;
          tabsContents += `<div id="${tabId}" class="tab-content">${tabContent}</div>`;
        });
        tabsLinks += '</div>';
        tabsContents + '</div>';
        codeTabs.outerHTML = `<div id="${tabsContentsId}">${tabsLinks}${tabsContents}</div>`;
        document.querySelector(`#${tabsContentsId} .tab-link`).click();
      } catch (error) {
        console.error(error);
      }
    });
  }

  function openCode(event, tabId, tabsContentsId) {
    try {
      const tabsContents = document.getElementById(tabsContentsId);
      tabsContents.querySelectorAll('.tab-content').forEach((tabContent) => (tabContent.style.display = 'none'));
      tabsContents.querySelectorAll('.tab-link').forEach((tabLink) => tabLink.classList.remove('active'));
      document.getElementById(tabId).style.display = 'block';
      event.currentTarget.classList.add('active');
    } catch (error) {
      console.error(error);
    }
  }

  function addCodeLineNumbers() {
    try {
      document.querySelectorAll('pre.highlight').forEach((code) => {
        try {
          const codeLineNumbers = (code.innerHTML.match(/\n/g) || []).length;
          let codeLineNumbersHtml = '<div class="code-line-number">';
          for (let i = 1; i <= codeLineNumbers; i++) {
            codeLineNumbersHtml += `<span>${i}</span>`;
          }
          codeLineNumbersHtml += '</div>';
          code.insertAdjacentHTML('afterbegin', codeLineNumbersHtml);
        } catch (error) {
          console.error(error);
        }
      });
    } catch (error) {
      console.error(error);
    }
  }

  function addCodeCopyIcon() {
    try {
      document.querySelectorAll('pre.highlight code').forEach((code) => {
        const codeId = 'code-id-' + Date.now() + Math.floor(Math.random() * 100);
        code.id = codeId;
        const copyCodeIconHtml = /* html */ `
        <span 
          title="copy code" 
          onclick="onCodeCopyIconClick(event, '${codeId}')" 
          class="code-copy-icon iconify" 
          data-icon="mdi:content-copy" 
          data-inline="false"
        ></span>
      `;
        code.insertAdjacentHTML('beforebegin', copyCodeIconHtml);
      });
    } catch (error) {
      console.error(error);
    }
  }

  function onCodeCopyIconClick(event, codeId) {
    const code = document.getElementById(codeId);
    const codeText = code.innerText || code.contentText;
    const textarea = document.createElement('textarea');
    textarea.textContent = codeText;
    textarea.style.position = 'fixed'; // Prevent scrolling to bottom of page in Microsoft Edge.
    document.body.appendChild(textarea);
    textarea.select();
    try {
      return document.execCommand('copy');
    } catch (error) {
      console.error('Copy to clipboard failed.', error);
      return false;
    } finally {
      document.body.removeChild(textarea);
    }
  }

  function addCodeShadowOnLeftScroll() {
    document.querySelectorAll('pre.highlight code').forEach((code) => {
      code.addEventListener('scroll', delay(handleCodeLeftScroll, 100));
    });
  }

  function handleCodeLeftScroll(event) {
    const target = event.target;
    if (target.scrollLeft !== 0) {
      target.classList.add('scroll-left');
    } else {
      target.classList.remove('scroll-left');
    }
  }
</script>
