<style>
  .comments-header {
    margin: var(--comments-margin);
  }

  .comments-join-discussion {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: var(--comments-join-discussion-margin-bottom);
    font-weight: bold;
    padding: 3rem;
    background-color: var(--comments-join-discussion-background-color);
    color: var(--comments-join-discussion-color);
    transition: var(--transition);
    transition-property: color, background-color;
    border-radius: 0.3rem;
  }

  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }

  .comment p {
    margin: 0;
  }

  .comment .comment__user-avatar {
    width: 4rem;
    border-radius: 100rem;
    margin-top: 1rem;
  }

  .comment .comment__container {
    position: relative;
    flex: 1;
    padding: 2rem;
    background-color: var(--comment-background-color);
    transition: var(--transition);
    transition-property: background-color;
    margin-left: 2rem;
    border-radius: 0.3rem;
  }

  .comment .comment__container::before {
    content: '';
    position: absolute;
    display: block;
    top: 2rem;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid var(--comment-background-color);
    border-bottom: 1rem solid transparent;
    border-left: none;
    transition: var(--transition);
    transition-property: border-color;
  }

  .comment .comment__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--comment-header-border-color);
    transition: var(--transition);
    transition-property: border-color;
  }

  .comment .comment__header .comment_user-name {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .comment .comment__header .comment_created-since {
    font-size: 1.4rem;
  }

  .comment .comment__body {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
</style>

<script>
  const joinGithubDiscussionElement = document.getElementById('JoinGithubDiscussion');
  const commentsElement = document.getElementById('Comments');
  fetchCurrentPostAssociatedGithubIssue();

  function fetchCurrentPostAssociatedGithubIssue() {
    try {
      const postTitle = location.pathname.replace(/^\//, '');
      const githubSearchIssuesUrl = `https://api.github.com/search/issues?q=${postTitle} is:issue+repo:devknowledge/devknowledge.github.io+in:title`;
      fetch(githubSearchIssuesUrl)
        .then((response) => response.text())
        .then(handleGithubSearchIssuesResponse)
        .catch((error) => console.log('error', error));
    } catch (error) {
      console.log(error);
    }
  }

  function handleGithubSearchIssuesResponse(responseText) {
    try {
      const response = JSON.parse(responseText);
      if (response.items.length == 1) {
        renderJoinPostDiscussionOnGithub(response.items[0].html_url);
        fetchCurrentPostComments(response.items[0].comments_url);
      }
    } catch (error) {
      console.log(error);
    }
  }

  function renderJoinPostDiscussionOnGithub(url) {
    const html = /* html */ `
    <p class="comments-join-discussion">Join the discussion for this article on <a href="${url}" target="_blank">this github ticket</a></p>  
  `;
    joinGithubDiscussionElement.outerHTML = html;
  }

  function fetchCurrentPostComments(url) {
    try {
      fetch(url)
        .then((response) => response.text())
        .then((response) => renderPostsComments(JSON.parse(response)))
        .catch((error) => console.log('error', error));
    } catch (error) {
      console.log('error in fetchCurrentPostComments method: ' + error);
    }
  }

  function renderPostsComments(comments) {
    try {
      let html = '';
      comments.forEach((comment) => {
        const commentCreatedSince = since(comment.created_at);
        html += /* html */ `
        <div class="comment">
          <img class="comment__user-avatar" src="${comment.user.avatar_url}" alt="avatar">
          <div class="comment__container">
            <div class="comment__header">
              <p class="comment_user-name">${comment.user.login}</p>
              <p class="comment_created-since">${commentCreatedSince}</p>
            </div>
            <p class="comment__body">${comment.body}</p>
          </div>
        </div>
      `;
      });
      commentsElement.outerHTML = html;
    } catch (error) {
      console.log('error in renderPostsComments method: ' + error);
    }
  }

  function since(date) {
    const seconds = Math.floor((new Date() - new Date(date)) / 1000);
    let interval = seconds / 31536000;

    if (interval > 1) {
      return Math.floor(interval) + ' years ago';
    }
    interval = seconds / 2592000;
    if (interval > 1) {
      return Math.floor(interval) + ' months ago';
    }
    interval = seconds / 86400;
    if (interval > 1) {
      return Math.floor(interval) + ' days ago';
    }
    interval = seconds / 3600;
    if (interval > 1) {
      return Math.floor(interval) + ' hours ago';
    }
    interval = seconds / 60;
    if (interval > 1) {
      return Math.floor(interval) + ' minutes ago';
    }
    return Math.floor(seconds) + ' seconds ago';
  }
</script>
