<style>
  .search-wrapper {
    max-width: 80rem;
    margin: var(--search-input-margin-top) auto 0;
    border-radius: 100rem;
    border: 1px solid var(--input-border-color);
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    background-color: var(--input-background-color);
    transition: var(--transition);
    transition-property: color, background-color border-color;
    position: relative;
  }

  .search-wrapper .iconify {
    flex-grow: 0;
    font-size: 2.5rem;
    margin-right: 0.7rem;
  }

  .search-wrapper input {
    flex-grow: 1;
    font-size: 1.8rem;
    border: none;
    outline: none;
    color: var(--input-color);
    background-color: var(--input-background-color);
    transition: var(--transition);
    transition-property: color, background-color;
  }

  .search-wrapper .advanced-search-inputs-wrapper {
    z-index: 30;
    padding: 2rem;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--advanced-search-inputs-background-color);
    box-shadow: var(--box-shadow-01);
  }

  .search-wrapper .advanced-search-inputs-wrapper .section-title-wrapper {
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;
  }

  .search-wrapper .advanced-search-inputs-wrapper .section-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .search-wrapper .advanced-search-inputs-wrapper .iconify {
    font-size: 2rem;
  }

  .search-wrapper .advanced-search-inputs-wrapper .iconify-wrapper {
    display: flex;
  }

  .search-wrapper .advanced-search-inputs-wrapper .iconify-wrapper.hide {
    display: none;
  }

  .search-wrapper .advanced-search-inputs-wrapper .category {
    cursor: pointer;
    margin-right: 0.75rem;
  }

  .search-wrapper .advanced-search-inputs-wrapper .category:hover {
    color: var(--category-color);
    background-color: var(--category-background-color);
  }

  .search-wrapper .advanced-search-inputs-wrapper .category.selected:hover {
    color: var(--category-color-on-select);
    background-color: var(--category-background-color-on-select);
  }
</style>

<div class="search-wrapper">
  <span class="iconify" data-icon="ic:outline-search" data-inline="false"></span>
  <input id="SearchPostInput" type="text" placeholder="Search..." />
  <span id="CloseAdvancedSearchIcon" class="hide"
    ><span class="iconify pointer" data-icon="eva:arrow-ios-upward-outline" data-inline="false"></span
  ></span>
  <span id="OpenAdvancedSearchIcon"><span class="iconify pointer" data-icon="eva:arrow-ios-downward-outline" data-inline="false"></span></span>
  <div id="AdvancedSearchInputsWrapper" class="advanced-search-inputs-wrapper hide">
    <div class="section-title-wrapper">
      <p class="section-title">Selected categories</p>
      <span id="UnselectAllCategoriesIcon" class="iconify-wrapper"
        ><span class="iconify pointer" title="unselect all categories" data-icon="gg:remove-r" data-inline="false"></span
      ></span>
      <span id="SelectAllCategoriesIcon" class="hide iconify-wrapper">
        <span class="iconify pointer" title="select all categories" data-icon="feather:plus-square" data-inline="false"></span
      ></span>
    </div>
    {% for category in categories %}
    <span class="category">{{ category }}</span>
    {% endfor %}
  </div>
</div>

<script>
  const searchPostInput = document.getElementById('SearchPostInput');
  const openAdvancedSearchIcon = document.getElementById('OpenAdvancedSearchIcon');
  const closeAdvancedSearchIcon = document.getElementById('CloseAdvancedSearchIcon');
  const selectAllCategoriesIcon = document.getElementById('SelectAllCategoriesIcon');
  const unselectAllCategoriesIcon = document.getElementById('UnselectAllCategoriesIcon');
  const advancedSearchInputsWrapper = document.getElementById('AdvancedSearchInputsWrapper');
  const allCategoriesElements = document.querySelectorAll('.advanced-search-inputs-wrapper .category');
  const allCategories = getAllCategories();
  let selectedCategories = getSelectedCategories();

  styleSelectedCategories();
  setTimeout(dispatchFilterPostsEvent);
  openAdvancedSearchIcon.addEventListener('click', handleOpenAdvancedSearchIconClickEvent);
  advancedSearchInputsWrapper.addEventListener('click', handleAdvancedSearchInputsWrapperClickEvent);
  selectAllCategoriesIcon.addEventListener('click', handleSelectAllCategoriesIconClickEvent);
  unselectAllCategoriesIcon.addEventListener('click', handleUnselectAllCategoriesIconClickEvent);
  document.addEventListener('click', closeAdvancedSearchInputsWrapper);
  allCategoriesElements.forEach((tag) => tag.addEventListener('click', toggleCategory));
  searchPostInput.addEventListener('keyup', delay(handleSearchPostsInputChangeEvent, 1000));

  function handleOpenAdvancedSearchIconClickEvent(event) {
    event.stopPropagation();
    openAdvancedSearchIcon.classList.add('hide');
    closeAdvancedSearchIcon.classList.remove('hide');
    advancedSearchInputsWrapper.classList.remove('hide');
  }

  function closeAdvancedSearchInputsWrapper() {
    openAdvancedSearchIcon.classList.remove('hide');
    closeAdvancedSearchIcon.classList.add('hide');
    advancedSearchInputsWrapper.classList.add('hide');
  }

  function handleUnselectAllCategoriesIconClickEvent() {
    unselectAllCategoriesIcon.classList.add('hide');
    selectAllCategoriesIcon.classList.remove('hide');
    selectedCategories = [];
    allCategoriesElements.forEach((category) => category.classList.remove('selected'));
    dispatchFilterPostsEvent();
  }

  function handleSelectAllCategoriesIconClickEvent() {
    selectAllCategoriesIcon.classList.add('hide');
    unselectAllCategoriesIcon.classList.remove('hide');
    allCategoriesElements.forEach((category) => {
      category.classList.add('selected');
      selectedCategories.push(category.innerText);
    });
    dispatchFilterPostsEvent();
  }

  function handleAdvancedSearchInputsWrapperClickEvent(event) {
    event.stopPropagation();
  }

  function toggleCategory(event) {
    const category = event.target;
    const categoryValue = event.target.innerText;
    if (selectedCategories.includes(categoryValue)) {
      selectedCategories = selectedCategories.filter((t) => t !== categoryValue);
      category.classList.remove('selected');
    } else {
      selectedCategories.push(categoryValue);
      category.classList.add('selected');
    }
    dispatchFilterPostsEvent();
  }

  function getSelectedCategories() {
    let res = [];
    const urlParams = new URLSearchParams(window.location.search);
    const urlSelectedCategory = urlParams.get('category');
    if (urlSelectedCategory !== null) {
      res.push(urlSelectedCategory);
    } else {
      allCategories.forEach(category => res.push(category));
    }
    return res;
  }

  function styleSelectedCategories() {
    allCategoriesElements.forEach((category) => {
      if (selectedCategories.includes(category.innerText)) {
        category.classList.add('selected');
      } else {
        category.classList.remove('selected');
      }
    });
  }

  function getAllCategories() {
    let res = [];
    {% for category in categories %}
      res.push('{{ category }}');
    {% endfor %}
    return res;
  }

  function dispatchFilterPostsEvent() {
    document.dispatchEvent(
      new CustomEvent('filter-posts', {
        detail: {
          selectedCategories,
          searchInputText: searchPostInput.value,
        },
      })
    );
  }

  function handleSearchPostsInputChangeEvent() {
    dispatchFilterPostsEvent();
  }
</script>
