@import 'mixin';

nav {
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  background: var(--navbar-background-color);
  box-shadow: var(--box-shadow-01);
  z-index: 999;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .left {
  display: flex;
}

nav .left a {
  display: flex;
  align-items: center;
}

nav .left img {
  height: 2.5rem;
}

nav .left span {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 1rem;
  color: var(--logo-text-color);
}

nav .left:hover span {
  color: var(--logo-text-color-on-hover);
}

nav .right {
  display: flex;
  align-items: center;
}

nav .right .dropdown-menu {
  position: relative;

  & .dropdown-menu-icon {
    font-size: 4.5rem;
  }

  & .dropdown-menu-content {
    display: none;
    visibility: hidden;
    position: absolute;
    transition: var(--transition);
    transition-property: visibility;
  }
  & .dropdown-menu-content span {
    padding: 0.8rem 1.6rem;
  }

  &:hover .dropdown-menu-content {
    visibility: visible;
  }
}
