@import 'mixin';

nav {
  position: fixed;
  width: 100%;
  background: var(--navbar-background-color);
  box-shadow: var(--box-shadow);
  z-index: 999;
}

nav .container {
  height: var(--navbar-height);
  display: flex;
  @include site-width;
}

nav .container .left {
  display: flex;
}

nav .container .left a {
  display: flex;
  align-items: center;
}

nav .container .left img {
  height: 2.5rem;
}

nav .container .left span {
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 1rem;
  color: var(--logo-text-color);
}

nav .container .left:hover span {
  color: var(--logo-text-color-on-hover);
}
