@import 'mixin';

.post {
  box-shadow: var(--box-shadow-01);
  max-width: 85rem;
  margin: var(--post-margin);
  background-color: var(--post-background-color);
  transition: var(--transition);
  transition-property: background-color;
  padding: var(--post-padding);

  & .post__overview::after {
    content: '';
    display: block;
    height: 0.3rem;
    width: 100%;
    background: var(--post-title-border-color);
    margin: 2rem 0 4rem;
  }

  & .post__title {
    color: var(--post-title-color);
    transition: var(--transition);
    transition-property: color;
    font-size: var(--post-title-font-size);
    font-weight: 100;
    line-height: 1;

    &::first-line {
      font-weight: 500;
    }
  }

  & .post__additional-info {
    margin-top: var(--post-additional-info-margin-top);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .post__date time {
    color: var(--post-date-color);
    transition: var(--transition);
    transition-property: color;
    font-size: 1.4rem;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  & pre.highlight::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & pre.highlight {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
