@import 'mixin';

.post {
  box-shadow: var(--box-shadow);
  max-width: 85rem;
  margin: 4rem auto;
  background-color: var(--post-background-color);
  padding: 8rem;

  & .post__overview::after {
    content: '';
    display: block;
    height: 0.3rem;
    width: 100%;
    background: var(--post-title-border-color);
    margin: 3rem 0 4rem;
  }

  & .post__title {
    color: var(--post-title-color);
    font-size: 10rem;
    font-weight: 100;
    line-height: 1;

    &::first-line {
      font-weight: 500;
    }
  }

  & .post__additional-info {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .post__date time {
    color: var(--post-date-color);
    font-size: 1.4rem;
  }
}

.post p {
  margin-bottom: 1.6rem;
}

.post code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--code-background-color);
  border-radius: 0.3rem;
}

.post pre {
  background-color: var(--code-background-color);
  padding: 1.6rem;
  line-height: 1.45;
  border-radius: 0.3rem;
  margin-bottom: 1.6rem;
}

.post pre code {
  padding: 0;
}
