@import 'mixin';

.post-summary-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem 0;
}

.post-summary-list > a {
  min-width: 0;
}

.post-summary {
  box-shadow: var(--box-shadow);
  background-color: var(--post-summary-background-color);
  padding: 3.3rem;

  & .post-summary__title {
    color: var(--post-summary-title-color);
    font-size: 2rem;
    font-weight: bold;
  }

  & .post-summary__extract + * {
    padding-top: 2rem;
    color: var(--post-summary-extract-color);
    font-size: 1.35rem;

    @include overflow-ellipsis;
  }

  & .post-summary__additional-info {
    & span,
    & a {
      color: var(--post-summary-additional-info-color);
      font-size: 1.3rem;
      font-weight: bold;
    }
    & span::after {
      content: '|';
      display: inline;
      padding: 0 0.5rem 0 1rem;
    }

    & span:last-child::after {
      display: none;
    }
  }
}
