@import 'mixin';

.welcome-message {
  display: flex;
  flex-direction: column;
  margin: var(--welcome-message-margin-top) auto var(--welcome-message-margin-bottom);

  & .first-message {
    margin: 2.5rem auto 0;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    display: flex;
    align-items: center;

    &,
    & .logo-name {
      font-size: 2.8rem;
    }

    & .logo-name {
      padding-right: 0.5rem;
      color: var(--primary-color);
    }

    & img {
      width: 3rem;
      height: 3rem;
      margin: 0 0.8rem;
    }
  }

  & .second-message {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.9rem;
    font-family: cursive;
  }
}
