@import 'mixin';

.welcome-message {
  display: flex;
  flex-direction: column;
  margin: var(--welcome-message-margin-top) auto var(--welcome-message-margin-bottom);

  & img {
    width: var(--welcome-message-logo-size);
    height: var(--welcome-message-logo-size);
    margin: 0 auto;
    border-radius: 100rem;
  }

  & .first-message {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;

    & span {
      font-size: 2rem;
    }
  }

  & .second-message {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-family: cursive;
  }
}
