---
layout: default
---

{% include collect-tags-and-categories.html %}

<style>
  {% include home/home.css %}
</style>

<div class="welcome-message">
  <span class="first-message">Welcome to <span class="site-name">DEV Knowledge</span></span>
  <span class="second-message">We are happy to have you on board and hope you find our contents useful :)</span>
</div>

{% include post-search-input/post-search-input.html %}

<div id="PostSummaryList" class="post-summary-list"></div>

<div class="load-more-posts-wrapper">
  <p id="DisplayedPostsCount" class="displayed-posts-count"></p>
  <div class="displayed-posts-count-rule-wrapper">
    <div id="DisplayedPostsCountRule" class="displayed-posts-count-rule"></div>
    <div class="displayed-posts-count-100-rule"></div>
  </div>
  <button id="LoadMorePosts" class="load-more-posts hide">Load more posts</button>
</div>

<script>
  {% include home/home.js %}
</script>
