---
layout: default
---

<div class="post">
  <div class="post__overview">
    <h1 class="post__title">{{ page.title }}</h1>
    <div class="post__additional-info">
      <div class="post__tags">
        {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      <div class="post__date">
        <time>{{ page.date | date: '%B %d, %Y' }}</time>
      </div>
    </div>
  </div>
  <div class="post__body">
    <div class="markdown">{{ content }}</div>
    {% include buy-me-coffee.html %}
    <h2 class="comments-header">Comments</h2>
    <div id="JoinGithubDiscussion"></div>
    <div id="Comments"></div>
  </div>
</div>
<script src="/assets/js/bable/code-es5.js"></script>
{% include comments.html %}
